@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Avantt-Medium';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../../public/fonts/Avantt-Medium.woff2") format('woff2');
    }
}

.contact .footerCTA {
    display: none;
}

.project-gallerij .achtergrond::before {
    content: '';
    position: absolute;
    background-image: url('./assets/images/project_background.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-gallerij .achtergrond:nth-child(even)::before {
    transform: scaleX(-1);
}

.step {
    transform: translateX(-100vw);
}